name: Publish

on:
  push:
    branches:
      - main

jobs:
  build-expo:
    runs-on: ubuntu-latest

    steps:
      - name: Check out Expo repository
        run: |
          git clone https://github.com/wcpos/managed-expo.git expo
          touch expo/yarn.lock

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Expo dependencies
        env:
          YARN_ENABLE_IMMUTABLE_INSTALLS: false
        run: |
          cd expo
          yarn install

      - name: Run Expo export and fix bundle
        run: |
          cd expo
          yarn export:electron
          # Fix bundle path
          sed -i 's/src="\/_expo/src="_expo/g' dist/index.html

      - name: Archive production artifacts
        uses: actions/upload-artifact@v3
        with:
          name: expo-dist
          path: expo/dist

  publish-macos:
    needs: build-expo
    runs-on: macos-13

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Download expo-dist artifact
        uses: actions/download-artifact@v3
        with:
          name: expo-dist
          path: dist

      - name: Signing By Apple Developer ID
        uses: apple-actions/import-codesign-certs@v2
        with:
          p12-file-base64: ${{ secrets.MAC_CERTS }}
          p12-password: ${{ secrets.MAC_CERTS_PASSWORD }}

      - name: Install and build
        env:
          YARN_ENABLE_IMMUTABLE_INSTALLS: false
        run: |
          yarn install
          yarn rebuild:all

      - name: Publish MacOS x64 release
        env:
          APPLE_ID: ${{ secrets.APPLE_ID }}
          APPLE_ID_PASSWORD: ${{ secrets.APPLE_ID_PASS }}
          APPLE_TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          yarn publish-app

  publish-macos-arm64:
    needs:
      - build-expo
      # - publish-macos
    runs-on: macos-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Download expo-dist artifact
        uses: actions/download-artifact@v3
        with:
          name: expo-dist
          path: dist

      - name: Signing By Apple Developer ID
        uses: apple-actions/import-codesign-certs@v2
        with:
          p12-file-base64: ${{ secrets.MAC_CERTS }}
          p12-password: ${{ secrets.MAC_CERTS_PASSWORD }}

      - name: Install and build
        env:
          YARN_ENABLE_IMMUTABLE_INSTALLS: false
        run: |
          yarn install
          yarn rebuild:all

      - name: Publish MacOS arm64 release
        env:
          APPLE_ID: ${{ secrets.APPLE_ID }}
          APPLE_ID_PASSWORD: ${{ secrets.APPLE_ID_PASS }}
          APPLE_TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ARCH: arm64
        run: |
          yarn publish-app --arch=arm64 --platform=darwin

  publish-windows:
    needs: build-expo
    runs-on: windows-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Download expo-dist artifact
        uses: actions/download-artifact@v3
        with:
          name: expo-dist
          path: dist

      - name: Install and build
        env:
          YARN_ENABLE_IMMUTABLE_INSTALLS: false
        run: |
          yarn install
          yarn rebuild:all

      - name: Publish Windows release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          yarn publish-app

  publish-linux:
    needs: build-expo
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Download expo-dist artifact
        uses: actions/download-artifact@v3
        with:
          name: expo-dist
          path: dist

      - name: Install and build
        env:
          YARN_ENABLE_IMMUTABLE_INSTALLS: false
        run: |
          yarn install
          yarn rebuild:all

      - name: Publish Linux release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          yarn publish-app
